#!/usr/sbin/nft -f

table inet filter {
    chain input {
        type filter hook input priority 0; policy drop;

        iif "lo" accept
        ct state established,related accept

{% for port in firewall_allowed_tcp_ports | unique | sort %}
        tcp dport {{ port }} accept
{% endfor %}
{% for port in firewall_allowed_udp_ports | default([]) | unique | sort %}
        udp dport {{ port }} accept
{% endfor %}
    }

    chain output {
        type filter hook output priority 0; policy accept;
    }
}
