{% for server in item.servers %}
server {
{% for listen in server.listen | default([]) %}
    listen {{ listen }};
{% endfor %}
{% if server.ssl is defined %}
    listen 443 ssl;
{% endif %}
    server_name {{ server.names | join(' ') }};
{% if server.root is defined %}
    root {{ server.root }};
{% endif %}
{% if server.no_cache | default(false) %}

    add_header Last-Modified $date_gmt;
    add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
    if_modified_since off;
    expires off;
    etag off;
{% endif %}
{% if server.acme_challenge | default(false) %}

    location ^~ /.well-known/acme-challenge/ {
        root {{ certbot_webroot }};
        default_type text/plain;
    }
{% endif %}
{% for location in server.locations | default([]) %}

    location {{ location.path }} {
        root   {{ location.root }};
        index  {{ location.index | default('index.html index.htm') }};
        add_header Strict-Transport-Security "max-age=31536000" always;
{% if location.cors_any_origin | default(false) %}
        add_header Access-Control-Allow-Origin *;
{% endif %}
    }
{% endfor %}
{% for proxy in server.proxy_locations | default([]) %}

    location {{ proxy.path }} {
        add_header Strict-Transport-Security "max-age=31536000" always;
{% if proxy.cors | default(false) %}
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Headers' 'Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range,token';
        add_header 'Access-Control-Allow-Methods' 'GET,POST,OPTIONS,PUT,DELETE,PATCH';
{% endif %}
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass {{ proxy.upstream }};
    }
{% endfor %}
{% if server.redirect_to_https is defined %}

    location / {
        return 301 {{ server.redirect_to_https }};
    }
{% endif %}
{% if server.return_directive is defined %}

    return {{ server.return_directive }};
{% endif %}
{% if server.error_pages | default(false) %}

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   {{ nginx_html_root }};
    }
{% endif %}
{% if server.ssl is defined %}

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305;
    ssl_conf_command Ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256;
    ssl_session_cache shared:le_nginx_SSL:10m;
    ssl_session_timeout 1440m;
    ssl_session_tickets off;
    ssl_prefer_server_ciphers on;
    ssl_certificate {{ letsencrypt_live_dir }}/{{ server.ssl.cert_name }}/fullchain.pem;
    ssl_certificate_key {{ letsencrypt_live_dir }}/{{ server.ssl.cert_name }}/privkey.pem;
{% if server.ssl.include_options | default(false) %}
    include /etc/letsencrypt/options-ssl-nginx.conf;
{% endif %}
    add_header Strict-Transport-Security "max-age=31536000" always;
    ssl_trusted_certificate {{ letsencrypt_live_dir }}/{{ server.ssl.cert_name }}/chain.pem;
    resolver 1.1.1.1 1.0.0.1 valid=300s ipv6=off;
    resolver_timeout 5s;
    ssl_stapling on;
    ssl_stapling_verify on;
{% endif %}
}

{% endfor %}
